{% extends "base.html" %}

{% block cuerpo %}

{% load static %}

<div class="row"><!-- la fila -->

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- Columna izquierda -->
        <h1>Registrar Producto</h1>

        <div class="card"><!-- la tarjeta -->
            <div class="card-body">
                <form action="{% url 'registrarProductos' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                            placeholder="ID del producto" minlength="1" maxlength="11" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                            placeholder="Nombre del producto" minlength="1" maxlength="45" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txttipo" name="txttipo" class="form-control"
                            placeholder="Tipo del producto" minlength="1" maxlength="30" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control"
                            placeholder="Descripción" minlength="1" maxlength="300" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtcolor" name="txtcolor" class="form-control"
                            placeholder="Color" minlength="1" maxlength="30" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtmaterial" name="txtmaterial" class="form-control"
                            placeholder="Material" minlength="1" maxlength="30" required><br>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtprecio" name="txtprecio" class="form-control"
                            placeholder="Precio" min="1" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtid_sucursal" name="txtid_sucursal" class="form-control"
                            placeholder="ID de la sucursal" maxlength="11" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtid_provedor" name="txtid_provedor" class="form-control"
                            placeholder="ID del proveedor" maxlength="11" required><br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Guardar Producto</button>
                    </div>
                </form>
            </div>
        </div> <!-- Fin de la tarjeta -->

    </div><!-- Columna izquierda -->

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!-- Columna derecha -->
        <h1>Listado de Productos</h1>
        <img class="w-50" src="{% static 'img/producto.jpg' %}" alt="productos" width="400" height="auto">
        <br>
        <!-- la tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Color</th>
                    <th scope="col">Material</th>
                    <th scope="col">Precio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in misproductos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.id_producto }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.tipo }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>{{ p.color }}</td>
                        <td>{{ p.material }}</td>
                        <td>{{ p.precio }}</td>
                        <td>
                            <a href="{% url 'seleccionarProductos' p.id_producto %}" class="btn btn-info">Editar</a>
                            <a href="{% url 'borrarProductos' p.id_producto %}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Fin de la tabla -->
    </div><!-- Columna derecha -->

</div><!-- la fila -->

{% endblock cuerpo %}
